html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

#container {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  align-items: center;
  margin-left: 1%;
}

.card {
  width: 175px;
  height: 170px;
  margin: 2% 1% 1% 1%;
  padding: 2% 0% 0% 0%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 16pt;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(#55c8fd, #035779);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: auto;
  text-align: center;
  text-justify: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 16pt;
  font-weight: bold;
}

#addBook {
  display: grid;
  width: 30%;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

label {
  grid-column-start: 1;
  grid-column-end: 3;
}

#title {
  grid-row-start: 2;
  grid-column-start: 1;
}

#author {
  grid-row-start: 4;
  grid-column-start: 1;
}

#pages {
  grid-row-start: 6;
  grid-column-start: 1;
}

#read {
  grid-row-start: 7;
  grid-column-start: 1;
}

#readLabel {
  grid-row-start: 7;
  grid-column-start: 2;
}

#add {
  grid-row-start: 8;
}